<a href="https://colab.research.google.com/github/aravind-thalla/2024-stat-ml-assignments/blob/main/assignment_4(SML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION-1


1.Read the data with pandas and find features and target variables

In [2]:
import pandas as pd
file_path = "/content/sample_data/train.csv"
df = pd.read_csv(file_path)
print(df)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [4]:
y=df['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

2.Normalize the data with min-max scaling

In [8]:
x=df.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [9]:
z=(df-df.min())/(df.max()-df.min())
print(z)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
0          0.227789   0.0         0.68       0.0  0.052632     0.0
1          0.347361   1.0         0.00       1.0  0.000000     1.0
2          0.041416   1.0         0.00       1.0  0.105263     1.0
3          0.076152   1.0         0.80       0.0  0.000000     0.0
4          0.881764   1.0         0.28       0.0  0.684211     1.0
...             ...   ...          ...       ...       ...     ...
1995       0.195725   1.0         0.00       1.0  0.000000     1.0
1996       0.977956   1.0         0.84       1.0  0.000000     0.0
1997       0.941884   0.0         0.16       1.0  0.052632     1.0
1998       0.675351   0.0         0.16       0.0  0.210526     1.0
1999       0.006012   1.0         0.60       1.0  0.263158     1.0

      int_memory     m_dep  mobile_wt   n_cores  ...  px_height  px_width  \
0       0.080645  0.555556   0.900000  0.142857  ...   0.010204  0.170895
1       0.822581  0.666667   0.466667  0.285714  ...   0.461735  0.993324
2       0.629032  0.888889   0.541667  0.571429  ...   0.644388  0.811749
3       0.129032  0.777778   0.425000  0.714286  ...   0.620408  0.858478
4       0.677419  0.555556   0.508333  0.142857  ...   0.616327  0.475300
...          ...       ...        ...       ...  ...        ...       ...
1995    0.000000  0.777778   0.216667  0.714286  ...   0.623469  0.927904
1996    0.596774  0.111111   0.891667  0.428571  ...   0.466837  0.977971
1997    0.548387  0.666667   0.233333  1.000000  ...   0.442857  0.755674
1998    0.709677  0.000000   0.541667  0.571429  ...   0.171429  0.113485
1999    0.693548  0.888889   0.733333  0.714286  ...   0.246429  0.169559

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi  \
0     0.612774  0.285714  0.388889   0.944444      0.0           0.0   1.0
1     0.634687  0.857143  0.166667   0.277778      1.0           1.0   0.0
2     0.627205  0.428571  0.111111   0.388889      1.0           1.0   0.0
3     0.671566  0.785714  0.444444   0.500000      1.0           0.0   0.0
4     0.308658  0.214286  0.111111   0.722222      1.0           1.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
1995  0.110102  0.571429  0.222222   0.944444      1.0           1.0   0.0
1996  0.474613  0.428571  0.555556   0.777778      1.0           1.0   1.0
1997  0.748530  0.285714  0.055556   0.166667      1.0           1.0   0.0
1998  0.163816  0.928571  0.555556   0.944444      1.0           1.0   1.0
1999  0.978888  1.000000  0.222222   0.000000      1.0           1.0   1.0

      price_range
0        0.333333
1        0.666667
2        0.666667
3        0.666667
4        0.333333
...           ...
1995     0.000000
1996     0.666667
1997     1.000000
1998     0.000000
1999     1.000000

[2000 rows x 21 columns]

Split the data into train and test.

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [15]:
print(x_train)
print(y_train)
print(x_test)
print(y_test)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
968            1923     0          0.5         1   7       0          46
240             633     1          2.2         0   0       1          49
819            1236     0          0.9         1   2       1          57
692             781     0          1.1         0   2       0          38
420            1456     1          0.5         1   7       0           7
...             ...   ...          ...       ...  ..     ...         ...
1130           1975     1          1.9         1   2       0          31
1294            589     1          0.5         0   1       1          59
860            1829     1          0.5         0   0       1          15
1459           1927     0          0.9         1   3       0          11
1126            635     1          0.6         1   1       1          50

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
968     0.5        191        1  10        767      1759  1489    10     9
240     0.1        139        8   1        529      1009  3560    11     1
819     0.1        188        1  14        517       809  1406    14    12
692     0.4        198        5   7        304      1674  3508    13     8
420     0.4        105        5  12        823      1104  1587     6     5
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1130    0.9        151        1  17        775      1607  3022    13     5
1294    0.7        146        8   4        759      1858   362    16    10
860     0.4        160        5   7        729      1267  2080    16    11
1459    0.4        190        8  12        491      1506  2916    16    11
1126    0.3         97        5  13        193       989  2107    13    12

      talk_time  three_g  touch_screen  wifi
968           3        1             1     1
240          16        1             1     1
819          20        1             0     1
692           5        0             0     1
420          20        1             0     1
...         ...      ...           ...   ...
1130         19        0             0     1
1294          6        1             1     1
860          12        1             0     1
1459         18        0             1     1
1126         12        1             0     0

[1600 rows x 20 columns]
968     1
240     2
819     0
692     3
420     1
       ..
1130    3
1294    0
860     2
1459    3
1126    1
Name: price_range, Length: 1600, dtype: int64
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1860           1646     0          2.5         0   3       1          25
353            1182     0          0.5         0   7       1           8
1333           1972     0          2.9         0   9       0          14
905             989     1          2.0         0   4       0          17
1289            615     1          0.5         1   7       0          58
...             ...   ...          ...       ...  ..     ...         ...
965            1379     0          0.5         1   1       0          19
1284            991     0          2.0         0   2       1          12
1739           1044     0          1.8         0   4       1          12
261             728     0          2.7         1   0       0          25
535            1185     0          1.9         0   0       0          31

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
1860    0.6        200        2   5        211      1608   686     8     6
353     0.5        138        8  16        275       986  2563    19    17
1333    0.4        196        7  18        293       952  1316     8     1
905     0.2        166        3  19        256      1394  3892    18     7
1289    0.5        130        5   8       1021      1958  1906    14     5
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
965     0.3        134        8  17        387       671  3912    11     2
1284    0.3        158        5   6       1209      1678  2014    11     9
1739    0.7        104        6   5       1230      1263  1794    18     7
261     0.2         88        4   1        526      1529  2039     5     1
535     0.4        152        8   7        837      1642  2447    16     2

      talk_time  three_g  touch_screen  wifi
1860         11        1             1     0
353          19        1             0     0
1333          8        1             1     0
905          19        1             1     0
1289          5        1             0     0
...         ...      ...           ...   ...
965          19        0             1     1
1284         10        1             0     0
1739         19        1             1     1
261          12        1             1     1
535           3        1             1     1

[400 rows x 20 columns]
1860    0
353     2
1333    1
905     3
1289    1
       ..
965     3
1284    2
1739    1
261     1
535     2
Name: price_range, Length: 400, dtype: int64

Question-2

1.Read the data with pandas and describe the data

In [20]:
import pandas as pd
file_path = "/content/sample_data/california_housing_train.csv"
df = pd.read_csv(file_path)
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [21]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

2.Find data type and shape of each column

In [22]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [23]:
df.shape

(17000, 9)

3.Find the target and features

In [28]:
x=df['median_house_value']
print(x)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

4.Find the null values (if yes fill the null values with 0 or mean of that column)

In [25]:
df_filled_zero = df.fillna(0)
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

5.Normalize all the features

In [29]:
y=df.drop('median_house_value',axis=1)
print(y)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

6.Split the data into train and test.

In [27]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [31]:
print(x_train)
print(y_train)
print(x_test)
print(y_test)

4679     398800.0
2512     353600.0
993      138900.0
1327     176300.0
4630     326100.0
           ...
11284    134600.0
11964    115300.0
5390     147400.0
860      142600.0
15795    236100.0
Name: median_house_value, Length: 13600, dtype: float64
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
4679     -118.07     33.81                22.0       2711.0           352.0
2512     -117.63     33.50                12.0       3619.0           536.0
993      -117.09     32.57                17.0        444.0            83.0
1327     -117.16     32.81                34.0       2275.0           375.0
4630     -118.07     34.17                36.0       2415.0           394.0
...          ...       ...                 ...          ...             ...
11284    -121.13     37.74                21.0       2376.0           475.0
11964    -121.38     38.62                41.0        774.0           144.0
5390     -118.15     33.91                38.0        901.0           205.0
860      -117.07     32.56                 9.0       3648.0           895.0
15795    -122.41     37.75                52.0       2452.0           623.0

       population  households  median_income
4679       1305.0       368.0         8.5407
2512       1506.0       492.0         7.2013
993         357.0        87.0         5.1478
1327       1021.0       379.0         3.6371
4630       1215.0       413.0         5.5418
...           ...         ...            ...
11284      1175.0       441.0         3.6016
11964       356.0       150.0         3.5625
5390        760.0       208.0         2.9643
860        3293.0       840.0         3.0992
15795      1932.0       549.0         2.3903

[13600 rows x 8 columns]
10941    142700.0
5250     500001.0
10292     61800.0
2266     162800.0
6398      90600.0
           ...
4706     211400.0
8404     500001.0
11114    162500.0
7877     360700.0
6188     137500.0
Name: median_house_value, Length: 3400, dtype: float64
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
10941    -120.87     37.77                 9.0       4838.0           920.0
5250     -118.14     34.11                52.0       2742.0           422.0
10292    -120.05     36.98                16.0       3705.0           739.0
2266     -117.42     34.02                 9.0       5455.0           882.0
6398     -118.26     33.97                52.0       1331.0           346.0
...          ...       ...                 ...          ...             ...
4706     -118.08     34.08                43.0       1716.0           402.0
8404     -118.47     34.06                45.0       1271.0           190.0
11114    -121.00     37.64                19.0        121.0            41.0
7877     -118.40     34.14                45.0        417.0            89.0
6188     -118.24     34.07                27.0        223.0            80.0

       population  households  median_income
10941      2460.0       923.0         3.5959
5250       1153.0       414.0         8.1124
10292      2463.0       697.0         2.5288
2266       3015.0       858.0         4.2321
6398       1144.0       362.0         1.5326
...           ...         ...            ...
4706       1343.0       386.0         2.9688
8404        419.0       171.0         7.6447
11114       658.0        41.0         0.9573
7877        187.0        88.0         5.1377
6188        249.0        82.0         1.6136

[3400 rows x 8 columns]